div.glass {
    display: none;
 }
 
 div.glass_a {
     
         left: 33%;
     top: 69%;
 }
 
 div.glass_b {
     display: none;
 }
 div.glass_c {
     display: none;
 }
 div.total {
         top: 74%;
     left: 30%;
 }

 .main-table-pricing{height: 799px;}
	#additional_image img{max-width:100%;max-height:100%;}





@media only screen and (max-width: 768px) {
#confirmBox {
    background: url(jquery.confirm/body_bg.jpg) repeat-x left bottom #e5e5e5;
    width: 64%;
    position: fixed;
    left: 48%;
    top: 20%;
    margin: -130px 0 0 -230px;
    border: 1px solid rgba(33, 33, 33, 0.6);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}

.table-pricing-tab-col2{
	top: 67%;
}

.table-pricing-tab-col4{
	top: 67.6%;
}
}
	
@media only screen and (max-width: 3000px){
	.main-table-pricing{height: 1175px;}	
.table-pricing-tab-col3 {
    left: 1%;

}
.icons-quotes {
    top: -103px!important;
}
}	
	@media only screen and (max-width: 2560px){
	.main-table-pricing{height: 959px;}	
.table-pricing-tab-col3 {
    left: 1%;

}
.icons-quotes {
    top: -103px!important;
}
}	
	@media only screen and (max-width: 1920px){
	.main-table-pricing{height: 861px;}	
.table-pricing-tab-col3 {
    left: 1%;

}
.icons-quotes {
    top: -103px!important;
}
}
@media screen and (max-width: 1368px) {
.main-table-pricing{height: 799px;}	
}

/* Extra small devices (phones, 1200px and down) */
@media screen and (max-width: 1200px) {
.main-table-pricing {
    width: auto;
}
	
}
	
@media screen and (max-width: 992px) {
.table-pricing-tab-col2 {
    top: 68%;
}

.table-pricing-tab-col4 {
    top: 68.5%;
}
.icons-quotes{width:100%;}
}	
@media screen and (max-width: 768px) {
.table-pricing-tab-col2 {
    top: 68%;
}

.table-pricing-tab-col4 {
    top: 68.5%;
}

.main-table-pricing{
	height: 976px !important;
}

}	
	@media screen and (max-width: 480px) {

.icons-quotes {
    top: -40px!important;
}


#confirmBox {
   width: 80%;
    left: 63%;
 
}


.main-table-pricing{
	height: 610px !important;
}
.table-pricing-tab-col2 {
    top: 60%;
}
.table-pricing-tab-col4 {
    top: 60.5%;
}
}

@media screen and (max-width: 320px) {
.main-table-pricing {
    height: 540px !important;
    width: auto;
}
.icons-quotes {
    top: -40px!important;
}


.table-pricing-tab-col2 {
    top: 68%;
}
.table-pricing-tab-col4 {
    top: 69%;
}
}




@media only screen and (max-width: 380px) {
	

#confirmBox {
   width: 97%;
    left: 63%;
 
}

}


@media only screen and (max-width: 360px) {
	
#confirmBox {
   width: 96%;
    left: 65%;
 
}
}


@media only screen and (max-width: 320px) {
	
#confirmBox {
   width: 96%;
    left: 72%;
 
}
}


@media only screen and (max-width: 240px) {
	
#confirmBox {
       width: 96%;
    left: 89%;
 
}
}