A:link {text-decoration: none; color: #FFFFFF;}
A:visited {text-decoration: none; color: #FFFFFF;}
A:active {text-decoration: none; color: #d8d8d8;}
A:hover {color: #d8d8d8;}

.ProjListCSS {
  background: #FFFFFF;
  }
  
.toplink {
 font-size: 9px;
 padding:0px;
 margin:0px;
}

body {
  background: #171717;
  font-family: Tahoma;
}
form{
    margin:0px;
	
}

.contentText, .contentText table {
  /*padding: 5px 0 5px 0;*/
  font-size: 14px;
  line-height: 1.5;
}
.form_white{
width:100% !important;
background: #FFFFFF !important;  
}
.form_white h2{
	color:black;
	font-size:16px;
}
.form_white4{
width:100% !important;
background: #FFFFFF !important;  
}

.form_white td{
background: #FFFFFF !important; 
color: #000000;
}
.form_white4 td{
/*background: #CCC!important; */
color: #000000;
}
.form_white4 tr{
/*background: #CCC !important;*/
color: #000000;
}

.form_white  a{
background: #FFFFFF; 
color: #000000;
}

.form_white_cart {
background: #FFFFFF; width:100%;   
 
color: #000000 !important; 
}
.form_white_cart td{

color: #000000;
}

.form_white_cart p{

color: #000000;
}
.form_white_cart a{
background: #FFFFFF; 
color: #000000;
}


.modName {
  font-size: 13px;
  color: #c38731;
  font-weight: bold;
  line-height: 22px;
  text-align: left;
}
.contentContainer{
/*background:#FFFFFF !important;; 
    /*text-align:left;*/
}
table tr td.head{
    background:#879385;
}
table tr td.dateil{
    background:#f0f0f0;
}
.projName {
  font-size: 18px;
  color: #c38731;
  font-weight: bold;
  text-align: left;
  text-indent: 20px;
}

.bulletList {
  font-size: 12px;
  list-style-type: square;
  text-align: left;
  line-height: 16px;
  padding-left: 80px;
  color: #CCCCCC;
  }

.modText {
  font-size: 12px;
  color: #CCCCCC;
  line-height: 16px;
  text-align: left;
}

.modTextFrontPage {
  font-size: 13px;
  color: #CCCCCC;
  line-height: 18px;
  text-align: left;
  height: 55px;
  margin-left: 15px;
  text-indent: 15px;
}

.modTextFrontPageAddl {
  font-size: 13px;
  color: #FFFFFF;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
}

.ProdTime {
  font-size: 13px;
  color: #FFFFFF;
  font-weight: bold;
}



.linkClass A:link {font-weight: bold; font-size: 13px; line-height: 22px; text-decoration: none; color: #c38731;}
.linkClass A:visited {font-weight: bold; font-size: 13px; line-height: 22px; text-decoration: none; color: #c38731;}
.linkClass A:hover {font-weight: bold; font-size: 13px; line-height: 22px; text-decoration: none; color: #c39f31; text-decoration: underline;}
.linkClass {text-align: left;}

.linkClassFront A:link {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #c38731;}
.linkClassFront A:visited {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #c38731;}
.linkClassFront A:hover {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #c39f31; text-decoration: underline;}
.linkClassFront {text-align: left;}

.linkClassFrontStock A:link {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906;}
.linkClassFrontStock A:visited {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906;}
.linkClassFrontStock A:hover {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906; text-decoration: underline;}
.linkClassFrontStock {text-align: left;}

.linkClassOrbit A:link {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906;}
.linkClassOrbit A:visited {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906;}
.linkClassOrbit:hover {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906; text-decoration: underline;}
.linkClassOrbit {text-align: left;}

.centerDiv {
  margin-left: auto;
  margin-right: auto;
  border-collaps: collapse;
}

.style1 {
    color: #FF0000;
}
td {
    color: #FFFFFF;
    font-family: tahoma,verdana,arial;
    
}
.image_border {
    border: 1px solid #535350;
}
.cart_border {
    border: 1px solid #555552;
}

TABLE.productListing {
    border: 0 solid #464741;
}
.productListing-heading {
    background: none repeat scroll 0 0 #464741;
    border-color: #7F7F7F #929292 #929292;
    border-right: 1px solid #929292;
    border-style: dotted solid solid;
    border-width: 0 1px 3px;
    color: #FFFFFF;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}
TD.productListing-data {
    border-bottom: 2px solid #929292;
    border-left: 1px solid #929292;
    border-right: 1px solid #929292;
    color: #D0D0D0;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
.header-left{
	width:250px;
	float:left;
}
.bottom{
width:4px;
height:5px;
padding-top:3px;
background:url(images/bottom.png) no-repeat;

}
.text{
	width:220px;
}
.text_1{
	width:200px;
	float:left;
	text-align:left;
	background:url(images/bottom.png) no-repeat;
	text-decoration:underline;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:inherit;
}
.header-right{
width:600px;
float:right;
margin-top:-320px;
background:#484944;
border:1px solid #FFFFFF;
margin-left:-150px;
}
h1,h2,h3{
	font-family:Arial, Helvetica, sans-serif;
	}
h1{
	font-size:16px;
	color:#c7f900;
	/*padding-top:10px;*/
	margin:0;
}
h2{
	font-size:14px;
	color:#AA471C;
	font-weight:bold;
	text-decoration:none;
}
h3{
	font-size:12px;
	color:#c7f900;
	padding-left:5px;
}
TD.pageHeading, DIV.pageHeading {
    background: url("images/m99.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 34px;
    padding-bottom: 0;
    padding-left: 20px;
    text-decoration: none;
    width: 100%;
}

.messageBox {
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}
.messageStackError, .messageStackWarning {
    background-color: #FFB3B5;
    color: #000000;
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}
.messageStackSuccess {
    /*background-color: #99FF00;*/
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}
.inputRequirement {
    color: #FF0000;
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}


.heading {
	FONT: 13px  Verdana, Arial, Helvetica, sans-serif; COLOR: #c7f900; font-weight:bold;
}


.heading A {
	FONT: 13px  Verdana, Arial, Helvetica, sans-serif; COLOR: #c7f900; font-weight:bold;
}


.sideborders { 
	border-left: #d5d5d5 1px solid; border-bottom: #d5d5d5 1px solid; border-right: #d5d5d5 1px solid;  
}
.linkarea {
	MARGIN-LEFT: 13px; WIDTH: 210px; MARGIN-RIGHT: 13px
}
.leftlinks {
	FONT: 13px/25px  Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none; font-weight:bold;
}
.leftlinks A:hover {
	FONT: 13px/25px Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: underline; font-weight:bold;
}
.linkborder {
border-bottom:#999999 1px dashed;
}

.leftmenu_topbdr {
	BORDER-TOP: #d5d5d5 0px solid; background:#484844;
}
.leftmenu_bottombdr {
	BORDER-BOTTOM: #d5d5d5 0px solid; background:#484844;
}
.sideborders1 {
	BORDER-RIGHT: #d5d5d5 0px solid; BORDER-LEFT: #d5d5d5 0px solid; TEXT-ALIGN: center;
}

/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 52px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:1px;
	padding:7px 30px 10px 25px;
	float:left;

}

#TB_closeWindow{
	height:25px;
	padding:5px 5px 5px 0px;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
	display:none;
}

#TB_title{
	background-color:white;
	height:20px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

border{
border:none;
}
caler{
	clear:both;
}
h1,h2,h3{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
h1{
	color:#C7F900;
	font-size:13px;
	padding:4px;
	padding-left:30px;
    text-align: left;
	/*padding-top:10px;*/
}
h2{
	font-size:14px;
	color:#AA471C;
	font-weight:bold;
}
h3{
	font-size:14px;
	color:#fff;
	padding-left:5px;
}

.firstH2{
padding:0px 0px 0px 15px;

}



#wrapper{
	margin:0 auto;
	width:100%;
	background:#242424;
	}
.maintable{
	width:900px;
	margin:0 auto;
	
}
.menu{
	width:900px;
	height:125px;
	background:url(images/image-1.png) no-repeat;
	text-align:center;
	}	
.header{
	width:900px;
	margin:0 auto;
	background:#242424;
	
}
.header_left{
	width:230px;
	margin-left:10px;
	float:left;
	}
.header_left_1{
	width:180px;
	border:1px solid #666666;
	margin-top:5px;
	padding-bottom:5px;
	background:#363636;s
}
.header_right{
	width:640px;
	float:right;
	border:1px solid #666666;
	vertical-align:top;
	text-align:center;
	background:#242424;
	padding-bottom:15px;}
.image_1{
	width:105px;
	margin:9px 0 0 35px;
	height:75px;
	text-align:center;
	float:left;
	background:#242424;
	
	}
.image_2{
	width:145px;
	float:left;
	margin-top:10px;
	background:#242424;
	padding-left:10px;
}
.image_2 a{
	list-style:none;
	text-decoration:none;
	padding-left:12px;
}
		
p{
	font-family:"Times New Roman", Times, serif;
	color:ffffff;
	font-size:12px;
	/*padding-left:35px;*/	
}

.image{
	width:105px;
	margin:9px 0 0 35px;
	height:75px;
	text-align:center;
	}
.buttom{
	width:101px;
	height:22px;
	margin:9px 0 0 35px;
	
	}
.buttom a{
list-style:none;
text-decoration:none;
line-height:22px;
	}
.buttom a:hover{
	/*display:block;
	background:#993300;
	line-height:40px;*/
	}
	
	
	
img{
	border:none;
	}
.buttom_1{
	width:120px;
	margin:9px 0 0 28px;
	text-align:center;
	
	}
.buttom_1 a{
/*line-height:22px;*/
text-decoration:none;
border:none;
}
.buttom_1 a:hover{
	display:block;
	/*background:#993300;
	line-height:22px;*/		
	}	
	
.fotter{
width:300px;
float:right;
border-left:2px solid #CCCCCC;
padding-top:2px;
}
.fotter_1{
	width:300px;
	text-align:center;
	}
#backgorud{
width:100%;
height:auto;
background-color:#383934;
}
.mainpage{
width:900px;
height:auto;
margin:0 auto;
background:#393a35;
}
.header{
width:900px;
height:auto;
margin:0 auto;
}
.navboxleft{
width:5px;
height:41px;
float:left;
background:url(images/navbgleft.png) no-repeat left top;
}
.navboxmedill{
width:820px;
height:41px;
float:left;
background:url(images/medillbg.png) repeat left top;
}
/*.nav{
width:890px;
height:41px;
margin:0 auto;
}
.nav ul{
list-style:none;
}
.nav li {
float:left;
background:url(image/line.png) no-repeat right;
}
.nav li a{
display:block;
text-decoration:none;
line-height:41px;
color:#000000;
font-weight:bold;
padding:0 55px;
}*/
.textbx{
width:400px;
height:30px;
float:left;
line-height:30px;
}
.textbox1{
width:390px;
height:30px;
float:left;
margin-top:-20px;
line-height:30px;
}
.imagbox{
width:50px;
float:right;
margin-right:10px;
margin-top:-12px;
height:30px;
}


.navboxright{
width:5px;
height:41px;
float:right;
background:url(images/navbgright.png) no-repeat right top;
}
/*.image{
background:url(images/button.png) no-repeat;
position:absolute;
position:relative;
z-index:0px;
}*/
.contantpage{
width:900px;
height:auto;
margin:0 auto;
}
.sideleft{
width:201px;
height:auto;
float:left;
margin-top:10px;
font-size:13px
}
.sidelefttopbg{
width:201px;
height:12px;;
margin:0 auto;
background:url(images/topbgimage.png) no-repeat top left;
float:left;
}
.sidemiddlebg{
width:201px;
height:auto;
background:url(images/middlebg.png)  repeat top;
}
.sidebottombg{
width:201px;
height:12px;
background:url(images/rightimage.png) bottom no-repeat;

}

.sideleftmenu{
width:200px;
float:left;
height:auto;
}
.sideleftmenu ul{
list-style:none;
padding-left:10px;
}
.sideleftmenu li{
background:url(images/linkbullet.gif) no-repeat left center;
padding:0px 10px 0px 15px;
}
.sideleftmenu li a{
display:block;
line-height:20px;
height:20px;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
text-align:left;
padding:0 5px;
border-bottom:#999999 1px dashed;

}
.sideright{
width:640px;
height:auto;
float:left;
}
.sideleftimage{
width:201px;
height:200px;
float:left;
margin-top:5px;
}
.siderightimage{
width:640px;
height:auto;
float:left;
margin:10px 0 0 10px;
}
.siderightbottmimage{
width:640px;
height:10px;
float:left;
background:url(images/bottombgrightside.png) no-repeat center;
margin-left:10px;
}
.footer{
width:640px;
float:left;
height:auto;
margin-left:10px;
background:url(images/siderightfooterbg.png) repeat top;
height:30px;
}
.dropdownmenu{
width:201px;
height:auto;
float:left;
padding:5px 0 0 10px;
}

#products .slides_container {
	width:638px;
	float:right;
	position:relative;
	margin-top:-370px;
	
	display:none;
	
	
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#container {
	width:850px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#products_example {
	width:350px;
	height:100px;
	position:relative;
	
}

/*
	Slideshow
*/

#products {
	margin-left:0px;

}

.slides_container a {
	width:638px;
	height:480px;
	display:block;
}

/*
	Next/prev buttons
*/

/*#products .next,#products .prev {
	position:absolute;
	top:127px;
	left:0;
	width:21px;
	height:0;
	padding-top:21px;
	overflow:hidden;
	display:block;
	z-index:101;
}*/

#products .prev {
}

#products .next {
	left:398px;
}

/*
	Pagination
*/

#products .pagination {
border:solid 1px   #666666;
	background:#484844;
	width:165px;
	padding:5px 5px;
	float:left;
	margin-left:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
}

#products .pagination li {
	float:left;
	margin:2px 4px;
	list-style:none;
	background:#484844;
}

#products .pagination li a {
	display:block;
	width:40px;
	height:25px;
	margin:2px;
	float:left;
	
}

#products .pagination li.current a {
	
	margin:0; border:none;
}
.category-List tr td{
	padding:5px;
    
	
    
}


.category-List tr td.smallText{
	border-bottom:2px dotted #777;
  background: #393a35;
}

.category-List tr td.smallText:hover{
    -moz-box-shadow: inset 0px 8px 7px #555;
    -webkit-box-shadow: inset 0px 8px 7px #555;
    box-shadow: inset 0px 8px 7px #555;
	border:2px solid #efa600;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding:3px 3px 4px 3px;
}
.category-List tr td.smallText a{
	font:12px Verdana, Arial, Helvetica, sans-serif;
	display:block;
	font-weight:bold;
}
.category-List tr td.smallText a:hover{
	text-decoration:none;
}

ul.head-table li{
	list-style:none;
	display:inline-block;
	margin:2px 9px;
	float:left;
}
ul.head-table{
 background-color:#444;
 margin:0 0 2px 0;
 padding:0px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
 border-bottom:1px solid #888;
 border-left:1px solid #888;
 border-right:1px solid #888;
 
}
ul.head-table li img{
	width:187px;
}

div.select-option{
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border:1px solid #999;
padding:5px 0 5px 0;
}
div.teesh h1,h2,h3,h4,h5{
	
	text-align:center;
}
div.teesh p{
	color:black;
	text-align:center;
}
div.teesh1 p{
	color:black;
	text-align:center;
}
div.teesh1 h1,h2,h3,h4,h5{
	
	
	
	text-align:center;
}
div.product-title{
font:16px Arial, Helvetica, sans-serif;
font-weight:bold;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
min-height:20px;
text-align:center;
background:#555;
padding:5px;
color:#f4f4f4;
display:inline-block;
width: 99% ;
}
div#product-image{
    height:auto;
    width: 190px;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

table#cart-form{
   border:1px solid #777;
   padding:2px 0 2px 2px;
   width:250px;
   background: #484844;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
}
table#cart-form tr td{
   vertical-align: middle;
   padding: 0;
   margin: 0;
   font-weight: bold;
   color: #f4f4f4;
}
table#cart-form tr td select, table#cart-form tr td input{
   display: block;
   background-color:#c7c7c5 !important;
   padding: 2px;
   border: 1px solid #5c6266;
   float: right;
   color:#444444;
   border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
     -moz-box-shadow: inset 0px 8px 7px #bfbfbe;
    -webkit-box-shadow: inset 0px 8px 7px #bfbfbe;
    box-shadow: inset 0px 8px 7px #bfbfbe;
}
table#cart-form tr td select#post_height{
    width:96px;
    background: url("images/arrow.png") no-repeat right;
    margin: 0 3px;
    padding: 1px;
    font-weight: bold;
    appearance: button;
   -moz-appearance: button;
   -webkit-appearance: button;
}
table#cart-form tr td select{
    width:96px;
    background: url("images/arrow.png") no-repeat right;
    margin: 0 3px;
    padding: 1px;
    font-weight: bold;
    appearance: button;
   -moz-appearance: button;
   -webkit-appearance: button;
}
table#cart-form tr td option{
   /* background: #393a35;
    margin: 5px 0;*/
}
table#cart-form tr td select:hover{
  border-color: #efa600;
  }
  table#cart-form tr td input:active{
   -moz-box-shadow: inset 0px 8px 7px #8f8f8d;
    -webkit-box-shadow: inset 0px 8px 7px #8f8f8d;
    box-shadow: inset 0px 8px 7px #8f8f8d;
  
  }
  table#cart-form tr td input:hover{
  border-color: #efa600;
  padding: 2px;
  }
table#cart-form h1{
	text-decoration: underline;
    float:left;
    padding-left:0;
    font-size: 12px;
}
table#cart-form ul{
    float: right;
    margin: 2px;
    padding: 0;
}
table#cart-form ul li.images{
    width:12px;
}
table#cart-form ul.option-panel li{
    float: left;
    display: inline-block;
    list-style: none;
}
table#cart-form ul.option{
    float: right;
    width: 170px;
    margin: 2px;
    padding: 0;
    background: #393a35;
    border:0px solid #888;
   
}
table#cart-form ul li ul.option li{
    list-style: none;
    text-align: left;
    float: none;
    cursor: default;
    color:#f4f4f4;
    font-weight: bold;
    font-size: 11px;
    display: block;
    border-bottom: 2px dotted #777;
    padding: 4px;
}
table#cart-form ul li ul.option-images li{
    list-style: none;
    width:12px;
    float: none;
    cursor: default;    
    display: block;    
    padding: 9px 6px 0 0px;   
}
table#cart-form ul.option li.last{
    border:none;
}
table#cart-form ul.option li.last:hover{
    padding:2px;
}
table#cart-form ul.option li.selected{
    background: #c18700;
     border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
table#cart-form ul.option li.selected:hover{
    -moz-box-shadow: inset 0px 8px 7px #dab460;
    -webkit-box-shadow: inset 0px 8px 7px #dab460;
    box-shadow: inset 0px 8px 7px #dab460;
}
table#cart-form ul.option li:hover{
    border: 2px solid #efa600;
    padding: 3px;
    -moz-box-shadow: inset 0px 8px 7px #555;
    -webkit-box-shadow: inset 0px 8px 7px #555;
    box-shadow: inset 0px 8px 7px #555;
}
table.price tr td{
    padding: 1px !important;
    margin: 0;  
}
table.mainTable2{
    padding:0px;
}
table tr td.gallery img{
    border:3px solid #f4f4f4;
    margin-bottom: 10px;
}
table.custom{
    background: #242424;
    border:1px solid #666;
}
div.buttonSet{
    width:100px;
}
a.ui-button{
   /* display: block;*/
    color:#f4f4f4;
    width:100px;
    background: #171717 !important;
}
#fake_body {  background: #cccccc; }
button.ui-button{
    display: block;
    color:#f4f4f4;
    width:100px;
    background: #171717 !important;
}
.edit_account a.ui-button{
	display:inline-block;
}
.buttonSet .buttonAction a.ui-button{
	display:inline-block !important;
}
.buttonAction  a.ui-button{
width:150px;
margin:0 0 5px;
}
.buttonAction  button.ui-button{
width:150px;
margin:0 0 5px;
}

div.infoBoxContainer table{
    float:right;
}
#direction_show1{
    position: absolute;
    z-index: 1000;
    left:100px
}
#image1{
    background: url('images/top_image.png');
    width: 146px;
    position: relative;
    left:359px;
    top:35px;
}
#image2{
    background: url('images/mid-image.png');
    width: 146px;
    position: relative;
    left:359px;
    top:35px;
}
#image3{
    background: url('images/buttom_image.png');
    width: 146px;
    position: relative;
    left:359px;
    top:35px;
}
.message_w{
    border:2px solid #ff0000;
}

table#cart-form tr td .next_button {
    border-color: #FF0000;
    }
	
	
	
	#changeimageadd{width:100%;}
#brcleareboth{clear:both;}

  .message_w {
    border: none;
}

.PS_load{
    position: fixed;
    display: block;
    height: fit-content;
    width: 400px;
    z-index: 103;
    top: 44%;
    left: 35%;
    background: white;
    overflow: hidden;
}.print_img{
    width: 985px;
    margin-bottom: 10px;
    clip: rect(0px,820px,452px,160px);
    margin-left: -177px;
}.PS_load p{
    margin-bottom: 12px;
    color: red;
    text-align: center;
    font-weight: bold;
  }.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}.h1{
	text-align: center;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}.TB_overlay{
	background-color: #000;
	    opacity: 0.75;
}


input:focus {
    outline:none !important;
}
select option{
    border: 0px;
    outline: 0px;
}
select:focus {
outline: none !important;
}

input, select, textarea, option {
    outline: none!important;
}
#table_rss_twitter{background:#272727;}
#table_rss_twittertd1{padding-left: 15px; text-align: center;}
#table_rss_twittertd1 a{padding-left: 5px;}
#table_rss_twittertd1a{top: -3px;padding-right: 5px;}
#tbrss_image{width: 20px;}


.facebookbutton{
	 background-color: #1075dc; /* Green */
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;	
  border-radius: 4px;
	
}

#sharebutton{width:68px;}


#table_footer_ssl{background:#6e6e64;}
#table_footer_ssltd1{padding-left: 15px}
#text_fields{color:red;}
#paragraphmainpage{color:#171717;font-size:5px;}


#noscripthead{display:none;}

.InstockimgModel{
  position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
}
#headsmaltext{color:white;}

#mywishlisttext{color:white;font-size: 13px;}
#wishlistitems{color:white;font-size: 14px;}
#shoppingcarttext{color:white;font-size: 13px;}
#shoppingcartitems{color:white;font-size: 14px;}





	body {



font-family:verdana;



font-size:15px;



}







a {text-decoration:none}



a:hover {color:#ccc; text-decoration:none}







#mask {



  position:absolute;



  left:0;



  top:0;



  z-index:9000;



  background-color:#000;



  display:none;



}  



#boxes .window {



  position:absolute;



  left:0;



  top:0;



  width:440px;



  height:200px;



  display:none;



  z-index:9999;



  padding:20px;



}



#boxes #dialog {



  width:375px; 



  height:203px;



  padding:10px;



  background-color:#ffffff;



}




        .tips b {display:block; text-align:center; margin-bottom:9px;}




    .error h2{



        



        padding:0;



        margin:0;



        text-align:center;



    }



    .error h2 a{



        color:red !important;



        text-align:center;



    }



    #TB_ajaxWindowTitle{



        display:block;



        margin-left:200px;



    }

.message_p{
            position:relative;
            z-index: 1000000;
        }
        .message_w{
            position:absolute;
            color:#C7F900;
            text-shadow:2px 2px 3px #111;
            font-size: 22px;
            left:200px;
            background: url('images/login-bg.png');
            padding:5px;
            border-radius:10px;
            top:50px;
            font-weight: bold;
            text-align: center;
        }
    .message_wrt{
    border: 2px solid #ff0000;
            position:absolute;
            color:#C7F900;
            text-shadow:2px 2px 3px #111;
            font-size: 17px;
            left:0px;
            background: url('images/login-bg.png');
            padding:5px;
            border-radius:6px;
            top:0px;
      height:68px;
           width: 611px;
            text-align: left;
        }
    .message_wrt1{
    border: 3px solid #ff0000;
            position:absolute;
            color:#C7F900;
            
            font-size: 17px;
            left:-22px;
            background: url('images/login-bg.png');
            
            top:47px;
      height:68px;
           width: 0px;
            text-align: left;
        }
    .message_wrt2{
    border: 3px solid #ff0000;
            position:absolute;
            color:#C7F900;
            
            font-size: 17px;
            left:-22px;
            background: url('images/login-bg.png');
            
            top:47px;
      height:0px;
           width: 18px;
            text-align: left;
        }
    .message_wrt3{
    border: 3px solid #ff0000;
            position:absolute;
            color:#C7F900;
            
            font-size: 17px;
            left:-36px;
            background: url('images/login-bg.png');
            
            top:115px;
      height:0px;
           width: 13px;
            text-align: left;
        }
		
		
		
   .container222 {
  display: flex;
  margin-bottom: 30px;
}
.container222 > div {
  flex: 1; /*grow*/
      
}

#table_socialwidth{width:50px;}


/*ext/jquery/fancybox/jquery.fancybox-1.3.4     Start*/


#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }
/*ext/jquery/fancybox/jquery.fancybox-1.3.4     end*/







/*ext/960gs/960_24_col     Start*/
body{min-width:960px}.container_24{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24{display:inline;float:left;margin-left:5px;margin-right:5px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16,.push_17,.pull_17,.push_18,.pull_18,.push_19,.pull_19,.push_20,.pull_20,.push_21,.pull_21,.push_22,.pull_22,.push_23,.pull_23{position:relative}.alpha{margin-left:0}.omega{margin-right:0}.container_24 .grid_1{width:30px}.container_24 .grid_2{width:70px}.container_24 .grid_3{width:110px}.container_24 .grid_4{width:150px}.container_24 .grid_5{width:190px}.container_24 .grid_6{width:230px}.container_24 .grid_7{width:270px}.container_24 .grid_8{width:310px}.container_24 .grid_9{width:350px}.container_24 .grid_10{width:390px}.container_24 .grid_11{width:430px}.container_24 .grid_12{width:470px}.container_24 .grid_13{width:510px}.container_24 .grid_14{width:550px}.container_24 .grid_15{width:590px}.container_24 .grid_16{width:630px}.container_24 .grid_17{width:670px}.container_24 .grid_18{width:710px}.container_24 .grid_19{width:750px}.container_24 .grid_20{width:790px}.container_24 .grid_21{width:830px}.container_24 .grid_22{width:870px}.container_24 .grid_23{width:910px}.container_24 .grid_24{width:950px}.container_24 .prefix_1{padding-left:40px}.container_24 .prefix_2{padding-left:80px}.container_24 .prefix_3{padding-left:120px}.container_24 .prefix_4{padding-left:160px}.container_24 .prefix_5{padding-left:200px}.container_24 .prefix_6{padding-left:240px}.container_24 .prefix_7{padding-left:280px}.container_24 .prefix_8{padding-left:320px}.container_24 .prefix_9{padding-left:360px}.container_24 .prefix_10{padding-left:400px}.container_24 .prefix_11{padding-left:440px}.container_24 .prefix_12{padding-left:480px}.container_24 .prefix_13{padding-left:520px}.container_24 .prefix_14{padding-left:560px}.container_24 .prefix_15{padding-left:600px}.container_24 .prefix_16{padding-left:640px}.container_24 .prefix_17{padding-left:680px}.container_24 .prefix_18{padding-left:720px}.container_24 .prefix_19{padding-left:760px}.container_24 .prefix_20{padding-left:800px}.container_24 .prefix_21{padding-left:840px}.container_24 .prefix_22{padding-left:880px}.container_24 .prefix_23{padding-left:920px}.container_24 .suffix_1{padding-right:40px}.container_24 .suffix_2{padding-right:80px}.container_24 .suffix_3{padding-right:120px}.container_24 .suffix_4{padding-right:160px}.container_24 .suffix_5{padding-right:200px}.container_24 .suffix_6{padding-right:240px}.container_24 .suffix_7{padding-right:280px}.container_24 .suffix_8{padding-right:320px}.container_24 .suffix_9{padding-right:360px}.container_24 .suffix_10{padding-right:400px}.container_24 .suffix_11{padding-right:440px}.container_24 .suffix_12{padding-right:480px}.container_24 .suffix_13{padding-right:520px}.container_24 .suffix_14{padding-right:560px}.container_24 .suffix_15{padding-right:600px}.container_24 .suffix_16{padding-right:640px}.container_24 .suffix_17{padding-right:680px}.container_24 .suffix_18{padding-right:720px}.container_24 .suffix_19{padding-right:760px}.container_24 .suffix_20{padding-right:800px}.container_24 .suffix_21{padding-right:840px}.container_24 .suffix_22{padding-right:880px}.container_24 .suffix_23{padding-right:920px}.container_24 .push_1{left:40px}.container_24 .push_2{left:80px}.container_24 .push_3{left:120px}.container_24 .push_4{left:160px}.container_24 .push_5{left:200px}.container_24 .push_6{left:240px}.container_24 .push_7{left:280px}.container_24 .push_8{left:320px}.container_24 .push_9{left:360px}.container_24 .push_10{left:400px}.container_24 .push_11{left:440px}.container_24 .push_12{left:480px}.container_24 .push_13{left:520px}.container_24 .push_14{left:560px}.container_24 .push_15{left:600px}.container_24 .push_16{left:640px}.container_24 .push_17{left:680px}.container_24 .push_18{left:720px}.container_24 .push_19{left:760px}.container_24 .push_20{left:800px}.container_24 .push_21{left:840px}.container_24 .push_22{left:880px}.container_24 .push_23{left:920px}.container_24 .pull_1{left:-40px}.container_24 .pull_2{left:-80px}.container_24 .pull_3{left:-120px}.container_24 .pull_4{left:-160px}.container_24 .pull_5{left:-200px}.container_24 .pull_6{left:-240px}.container_24 .pull_7{left:-280px}.container_24 .pull_8{left:-320px}.container_24 .pull_9{left:-360px}.container_24 .pull_10{left:-400px}.container_24 .pull_11{left:-440px}.container_24 .pull_12{left:-480px}.container_24 .pull_13{left:-520px}.container_24 .pull_14{left:-560px}.container_24 .pull_15{left:-600px}.container_24 .pull_16{left:-640px}.container_24 .pull_17{left:-680px}.container_24 .pull_18{left:-720px}.container_24 .pull_19{left:-760px}.container_24 .pull_20{left:-800px}.container_24 .pull_21{left:-840px}.container_24 .pull_22{left:-880px}.container_24 .pull_23{left:-920px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

/*ext/960gs/960_24_col     end*/





/*ext/jquery/ui/redmond/jquery-ui-1.8.6     Start*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Lucida%20Grande,%20Lucida%20Sans,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=5px&bgColorHeader=5c9ccc&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=55&borderColorHeader=4297d7&fcHeader=ffffff&iconColorHeader=d8e7f3&bgColorContent=fcfdfd&bgTextureContent=06_inset_hard.png&bgImgOpacityContent=100&borderColorContent=a6c9e2&fcContent=222222&iconColorContent=469bdd&bgColorDefault=dfeffc&bgTextureDefault=02_glass.png&bgImgOpacityDefault=85&borderColorDefault=c5dbec&fcDefault=2e6e9e&iconColorDefault=6da8d5&bgColorHover=d0e5f5&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=79b7e7&fcHover=1d5987&iconColorHover=217bc0&bgColorActive=f5f8f9&bgTextureActive=06_inset_hard.png&bgImgOpacityActive=100&borderColorActive=79b7e7&fcActive=e17009&iconColorActive=f9bd01&bgColorHighlight=fbec88&bgTextureHighlight=01_flat.png&bgImgOpacityHighlight=55&borderColorHighlight=fad42e&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em; width:70%; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #444; background: #272727; color: #f4f4f4; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { background: url("../../../../images/m99.gif") repeat-x; height:30px; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #444; background: #ccc; font-weight: bold; color: #444; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #2e6e9e; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #555; background: #ccc; font-weight: bold; color: #444; }
.ui-state-hover a, .ui-state-hover a:hover { color: #1d5987; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #79b7e7; background: #f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #e17009; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #e17009; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fad42e; background: #fbec88 url(images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_469bdd_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_469bdd_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_d8e7f3_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_6da8d5_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_217bc0_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_f9bd01_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-top { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-right {  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-corner-left { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.ui-corner-all { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/*
 * jQuery UI Resizable 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/*
 * jQuery UI Selectable 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
/*
 * jQuery UI Accordion 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }/*
 * jQuery UI Autocomplete 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/*
 * jQuery UI Button 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 0 .4em 0; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
/*
 * jQuery UI Dialog 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/*
 * jQuery UI Slider 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/*
 * jQuery UI Tabs 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/*
 * jQuery UI Datepicker 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/*

.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }

/*ext/jquery/ui/redmond/jquery-ui-1.8.6     end*/






/*jquery/jquery.simplyscroll     Start*/
.simply-scroll-container { /* Container DIV - automatically generated */
	position: relative;
	
	
}

	.simply-scroll-clip { /* Clip DIV - automatically generated */
		position: relative;
		overflow: hidden;
	}

	.simply-scroll-list { /* UL/OL/DIV - the element that simplyScroll is inited on */
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
		.simply-scroll-list li {
	
			list-style: none;
		}
	
		.simply-scroll-list li img {
			border: none;
			display: block;
		
		}
	
	.simply-scroll-btn {
		position: absolute;
		background-image: url(buttons.png);
		width: 42px;
		height: 44px;
		z-index:3;
		cursor: pointer;
	}
	
	.simply-scroll-btn-left {
		left: 6px;
		bottom: 6px;
		background-position: 0 -44px;
	}
	.simply-scroll-btn-left.disabled {
		background-position: 0 0 !important;
	}
	.simply-scroll-btn-left:hover, .simply-scroll-btn-left:focus {
		background-position: 0 -88px;
	}
	
	.simply-scroll-btn-right {
		right: 6px;
		bottom: 6px;
		background-position: -84px -44px;
	}
	.simply-scroll-btn-right.disabled {
		background-position: -84px 0 !important;
	}
	.simply-scroll-btn-right:hover, .simply-scroll-btn-right:focus {
		background-position: -84px -88px;
	}
	
	.simply-scroll-btn-up {
		right: 6px;
		top: 6px;
		background-position: -126px -44px;
	}
	.simply-scroll-btn-up.disabled {
		background-position: -126px 0 !important;
	}
	.simply-scroll-btn-up:hover, .simply-scroll-btn-up:focus {
		background-position: -126px -88px;
	}
	
	.simply-scroll-btn-down {
		right: 6px;
		bottom: 6px;
		background-position: -42px -44px;
	}
	.simply-scroll-btn-down.disabled {
		background-position: -42px 0 !important;
	}
	.simply-scroll-btn-down:hover, .simply-scroll-btn-down:focus {
		background-position: -42px -88px;
	}
	
	.simply-scroll-btn-pause {
		right: 6px;
		bottom: 6px;
		background-position: -168px -44px;
	}
	.simply-scroll-btn-pause:hover, .simply-scroll-btn-pause:focus {
		background-position: -168px -88px;
	}
	
	.simply-scroll-btn-pause.active {
		background-position: -84px -44px;
	}
	.simply-scroll-btn-pause.active:hover, .simply-scroll-btn-pause.active:focus {
		background-position: -84px -88px;
	}

/* Custom class modifications - override classees

.simply-scroll is default

*/

.simply-scroll { /* Customisable base class for style override DIV */
	width: 776px;
	

}

	.simply-scroll .simply-scroll-clip {
		width: 790px;
		
	}
	
		.simply-scroll .simply-scroll-list {}
		
		.simply-scroll .simply-scroll-list li {
			float: left;
			width: 160px;
	
		}
		.simply-scroll .simply-scroll-list li img {}
	
	.simply-scroll .simply-scroll-btn {}
	
	.simply-scroll .simply-scroll-btn-left {}
	.simply-scroll .simply-scroll-btn-left.disabled {}
	.simply-scroll .simply-scroll-btn-left:hover {}
	
	.simply-scroll .simply-scroll-btn-right {}
	.simply-scroll .simply-scroll-btn-right.disabled {}
	.simply-scroll .simply-scroll-btn-right:hover {}
	
	.simply-scroll .simply-scroll-btn-up {}
	.simply-scroll .simply-scroll-btn-up.disabled {}
	.simply-scroll .simply-scroll-btn-up:hover {}
	
	.simply-scroll .simply-scroll-btn-down {}
	.simply-scroll .simply-scroll-btn-down.disabled {}
	.simply-scroll .simply-scroll-btn-down:hover {}
	


/* Vertical scroller example */

.vert { /* wider than clip to position buttons to side */
	width: 340px;
	

}

	.vert .simply-scroll-clip {
		width: 290px;
		
	}
	
		.vert .simply-scroll-list {}
		
		.vert .simply-scroll-list li {
			width: 390px;
			
		}
		.vert .simply-scroll-list li img {}
	
	.vert .simply-scroll-btn {}

	.vert .simply-scroll-btn-up { /* modified btn pos */
		right: 0;
		top: 0;
	}
	.vert .simply-scroll-btn-up.disabled {}
	.vert .simply-scroll-btn-up:hover {}
	
	.vert .simply-scroll-btn-down { /* modified btn pos */
		right: 0;
		top: 52px;
	}
	.vert .simply-scroll-btn-down.disabled {}
	.vert .simply-scroll-btn-down:hover {}
	
	/* NOTE left-right classes wouldn't be needed on vertical scroller */


/*jquery/jquery.simplyscroll   end*/






/*ext/jquery/fancybox/jquery.fancybox-1.3.4     Start*/


/*ext/jquery/fancybox/jquery.fancybox-1.3.4     end*/



	
	
	
	
	
	