.info-main-container {
  width: 100%;
  margin-top: 110px;
  background-color: white;
}

.info-sub-container1 {
  width: 20%;
  float: left;
  position: relative;
  right: 54%;
}
.info-sub-container2 {
  width: 54%;
  float: left;
  text-align: center;
  position: relative;
  left: 20%;
}
.info-sub-container3 {
  width: 25%;
  float: left;
  text-align: center;
}

.size-of-color {
  float: left;
  width: 70px;
  height: 70px;
}

.size-of-image {
  height: 92px;
  width: 124px;
}

.color-black span {
  background-color: #b0b0b0;
  display: inline-block;
  padding: 23px;
  border-radius: 28px;
  width: 20px;
}
.color-black span:hover {
  border: 2px solid red;
}
.color-adm span {
  background-color: #000;
  display: inline-block;
  padding: 23px;
  border-radius: 28px;
  width: 20px;
}
.color-adm span:hover {
  border: 2px solid red;
}
.color-silver span {
  background-color: #ccc;
  display: inline-block;
  padding: 23px;
  border-radius: 28px;
  width: 20px;
}
.color-silver span:hover {
  border: 2px solid red;
}

.Available-finishes-heading {
  font-size: 18px;
  position: relative;
  right: 35px;
  color: black;
}

.heading1 {
  font-size: 18px;
  position: relative;
  right: 1px;
  margin-top: 5px;
}
.heading2 {
  font-family: normal;
  font-size: 18px;
  position: relative;
  right: 1px;
  margin-top: 5px;
}
.proheader {
  color: black;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  left: 3px;
  top: 7px;
  text-align: center;
}
/* .Available-finishes {
  position: relative;
  top: 50px;
} */
.button1 {
  height: 25px;
  font-size: 15px;
  width: 50%;
  padding: 2px 8px;
  border: 1px solid #f3f3f3;
  -moz-box-shadow: 0 0 0 1px #707070;
  -webkit-box-shadow: 0 0 0 1px #707070;
  box-shadow: 0 0 0 1px #707070;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  background: -moz-linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f2f2f2),
    color-stop(0.5, #ebebeb),
    color-stop(0.51, #dddddd),
    color-stop(1, #cfcfcf)
  );
  background: linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  font: Arial 12px sans-serif;
  color: black;
  text-decoration: none;
}
.button1:hover {
  border: 1px solid #ecf7fd;
  -moz-box-shadow: 0 0 0 1px #3c7fb1;
  -webkit-box-shadow: 0 0 0 1px #3c7fb1;
  box-shadow: 0 0 0 1px #3c7fb1;
  background: -moz-linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #eaf6fd),
    color-stop(0.5, #d9f0fc),
    color-stop(0.51, #bee6fd),
    color-stop(1, #a7d9f5)
  );
  background: linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
}
.button1:active {
  padding: 2px 7px 3px 9px;
  border: 1px solid #73a7c4;
  border-bottom: 0;
  -moz-box-shadow: 0 0 0 1px #2c628b;
  -webkit-box-shadow: 0 0 0 1px #2c628b;
  box-shadow: 0 0 0 1px #2c628b;
  background: -moz-linear-gradient(
    top,
    #e5f4fc 0%,
    #c4e5f6 50%,
    #98d1ef 51%,
    #68b3db 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #e5f4fc),
    color-stop(0.5, #c4e5f6),
    color-stop(0.51, #98d1ef),
    color-stop(1, #68b3db)
  );
}
.button3 {
  height: 25px;
  font-size: 15px;
  width: 50%;
  padding: 2px 8px;
  border: 1px solid #f3f3f3;
  -moz-box-shadow: 0 0 0 1px #707070;
  -webkit-box-shadow: 0 0 0 1px #707070;
  box-shadow: 0 0 0 1px #707070;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  background: -moz-linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f2f2f2),
    color-stop(0.5, #ebebeb),
    color-stop(0.51, #dddddd),
    color-stop(1, #cfcfcf)
  );
  background: linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  font: Arial 12px sans-serif;
  color: black;
  text-decoration: none;
}
.button3:hover {
  border: 1px solid #ecf7fd;
  -moz-box-shadow: 0 0 0 1px #3c7fb1;
  -webkit-box-shadow: 0 0 0 1px #3c7fb1;
  box-shadow: 0 0 0 1px #3c7fb1;
  background: -moz-linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #eaf6fd),
    color-stop(0.5, #d9f0fc),
    color-stop(0.51, #bee6fd),
    color-stop(1, #a7d9f5)
  );
  background: linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
}
.button3:active {
  padding: 2px 7px 3px 9px;
  border: 1px solid #73a7c4;
  border-bottom: 0;
  -moz-box-shadow: 0 0 0 1px #2c628b;
  -webkit-box-shadow: 0 0 0 1px #2c628b;
  box-shadow: 0 0 0 1px #2c628b;
  background: -moz-linear-gradient(
    top,
    #e5f4fc 0%,
    #c4e5f6 50%,
    #98d1ef 51%,
    #68b3db 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #e5f4fc),
    color-stop(0.5, #c4e5f6),
    color-stop(0.51, #98d1ef),
    color-stop(1, #68b3db)
  );
}
.button4 {
  height: 25px;
  font-size: 15px;
  width: 50%;
  padding: 2px 8px;
  border: 1px solid #f3f3f3;
  -moz-box-shadow: 0 0 0 1px #707070;
  -webkit-box-shadow: 0 0 0 1px #707070;
  box-shadow: 0 0 0 1px #707070;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  background: -moz-linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f2f2f2),
    color-stop(0.5, #ebebeb),
    color-stop(0.51, #dddddd),
    color-stop(1, #cfcfcf)
  );
  background: linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  font: Arial 12px sans-serif;
  color: black;
  text-decoration: none;
}
.button4:hover {
  border: 1px solid #ecf7fd;
  -moz-box-shadow: 0 0 0 1px #3c7fb1;
  -webkit-box-shadow: 0 0 0 1px #3c7fb1;
  box-shadow: 0 0 0 1px #3c7fb1;
  background: -moz-linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #eaf6fd),
    color-stop(0.5, #d9f0fc),
    color-stop(0.51, #bee6fd),
    color-stop(1, #a7d9f5)
  );
  background: linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
}
.button4:active {
  padding: 2px 7px 3px 9px;
  border: 1px solid #73a7c4;
  border-bottom: 0;
  -moz-box-shadow: 0 0 0 1px #2c628b;
  -webkit-box-shadow: 0 0 0 1px #2c628b;
  box-shadow: 0 0 0 1px #2c628b;
  background: -moz-linear-gradient(
    top,
    #e5f4fc 0%,
    #c4e5f6 50%,
    #98d1ef 51%,
    #68b3db 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #e5f4fc),
    color-stop(0.5, #c4e5f6),
    color-stop(0.51, #98d1ef),
    color-stop(1, #68b3db)
  );
}

.button6 {
  height: 25px;
  font-size: 15px;
  width: 50%;
  padding: 2px 8px;
  border: 1px solid #f3f3f3;
  -moz-box-shadow: 0 0 0 1px #707070;
  -webkit-box-shadow: 0 0 0 1px #707070;
  box-shadow: 0 0 0 1px #707070;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  background: -moz-linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f2f2f2),
    color-stop(0.5, #ebebeb),
    color-stop(0.51, #dddddd),
    color-stop(1, #cfcfcf)
  );
  background: linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  font: Arial 12px sans-serif;
  color: black;
  text-decoration: none;
}
.button6:hover {
  border: 1px solid #ecf7fd;
  -moz-box-shadow: 0 0 0 1px #3c7fb1;
  -webkit-box-shadow: 0 0 0 1px #3c7fb1;
  box-shadow: 0 0 0 1px #3c7fb1;
  background: -moz-linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #eaf6fd),
    color-stop(0.5, #d9f0fc),
    color-stop(0.51, #bee6fd),
    color-stop(1, #a7d9f5)
  );
  background: linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
}
.button6:active {
  padding: 2px 7px 3px 9px;
  border: 1px solid #73a7c4;
  border-bottom: 0;
  -moz-box-shadow: 0 0 0 1px #2c628b;
  -webkit-box-shadow: 0 0 0 1px #2c628b;
  box-shadow: 0 0 0 1px #2c628b;
  background: -moz-linear-gradient(
    top,
    #e5f4fc 0%,
    #c4e5f6 50%,
    #98d1ef 51%,
    #68b3db 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #e5f4fc),
    color-stop(0.5, #c4e5f6),
    color-stop(0.51, #98d1ef),
    color-stop(1, #68b3db)
  );
}
.button7 {
  height: 25px;
  font-size: 15px;
  width: 50%;
  padding: 2px 8px;
  border: 1px solid #f3f3f3;
  -moz-box-shadow: 0 0 0 1px #707070;
  -webkit-box-shadow: 0 0 0 1px #707070;
  box-shadow: 0 0 0 1px #707070;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  background: -moz-linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f2f2f2),
    color-stop(0.5, #ebebeb),
    color-stop(0.51, #dddddd),
    color-stop(1, #cfcfcf)
  );
  background: linear-gradient(
    top,
    #f2f2f2 0%,
    #ebebeb 50%,
    #dddddd 51%,
    #cfcfcf 100%
  );
  font: Arial 12px sans-serif;
  color: black;
  text-decoration: none;
}
.button7:hover {
  border: 1px solid #ecf7fd;
  -moz-box-shadow: 0 0 0 1px #3c7fb1;
  -webkit-box-shadow: 0 0 0 1px #3c7fb1;
  box-shadow: 0 0 0 1px #3c7fb1;
  background: -moz-linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #eaf6fd),
    color-stop(0.5, #d9f0fc),
    color-stop(0.51, #bee6fd),
    color-stop(1, #a7d9f5)
  );
  background: linear-gradient(
    top,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );
}
.button7:active {
  padding: 2px 7px 3px 9px;
  border: 1px solid #73a7c4;
  border-bottom: 0;
  -moz-box-shadow: 0 0 0 1px #2c628b;
  -webkit-box-shadow: 0 0 0 1px #2c628b;
  box-shadow: 0 0 0 1px #2c628b;
  background: -moz-linear-gradient(
    top,
    #e5f4fc 0%,
    #c4e5f6 50%,
    #98d1ef 51%,
    #68b3db 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #e5f4fc),
    color-stop(0.5, #c4e5f6),
    color-stop(0.51, #98d1ef),
    color-stop(1, #68b3db)
  );
}

.table1 {
  border-collapse: separate;
  border: 1px solid black;
  position: relative;
  right: 25px;
  width: 85%;
}
.table2 {
  border: none;
  position: relative;
  max-width: 125%;
  max-height: 100%;
  display: block;
}
.table3 {
  position: relative;
  right: 690px;
}
.table4 {
  position: relative;
  right: 690px;
}
.pdf {
  position: relative;
  top: 30px;
  left: 26px;
  height: 70px;
  width: 70px;
}
.pdfname {
  position: relative;
  bottom: 10px;
  left: 110px;
  font-size: 17px;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
}
.txtarea {
  font-size: medium;
  position: relative;
  left: 5px;
  top: 5px;
  font-weight: none;
}
.desc {
  text-align: left;
  border: 1px solid black;
  border-collapse: separate;
  height: 400px;
}
.images_and_videos {
  border-collapse: separate;

  border: 1px solid black;
  position: relative;
  right: 25px;
  width: 85%;
}

.info-main-container {
  background: white;
  margin-bottom: 15%;
}

body {
  font-family: DIN !important;
  margin: 0px;
  background-color: #fff !important;
}

#infoimage {
  max-width: 100%;
  max-height: 100%;
  width: 640px;
  height: 480px;
 
}

@media only screen and (min-width: 2560px) {
  .button1 {
    font-size: 18px;
    width: 42%;
  }
  .button3 {
    font-size: 18px;
    text-align: center;
    width: 42%;
  }
  .button4 {
    font-size: 18px;
    text-align: center;
    width: 42%;
  }
  .button6 {
    font-size: 18px;
    text-align: center;
    width: 42%;
  }
  .button7 {
    font-size: 18px;
    text-align: center;
    width: 42%;
  }
  .table2 {
    position: relative;
    left: 1%;
  }
  .table3 {
    width: 87%;
    right: 113%;
    top: 144px;
  }
  .table1 {
    position: relative;
    left: 0px;
    width: 100%;
  }
  .desc {
    position: relative;
    width: 103%;
    height: 600px;
    font-size: 14px;
    left: 0%;
  }
  .images_and_videos {
    position: relative;
    width: 100%;
    left: 0px;
  }
  .pdf {
    position: relative;
    left: 47%;
  }
  .table4 {
    position: relative;
    right: 25%;
    width: 136%;
    top: 77px;
  }
  .pdfname {
    position: relative;
    left: 62%;
    font-size: 17px;
  }
  .Available-finishes {
    position: relative;
    top: -115px;
    width: 32%;
    left: 49%;

  }
  #infoimage {
    height: auto !important;
    width: 100% !important;
  }
  .info-main-container {
    /* padding-bottom: 49%; */
  }
  .info-main-container {
    background: white;
    margin-bottom: 3%;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .button1 {
    font-size: 17px;
    text-align: center;
    width: 45%;
  }
  .button3 {
    font-size: 17px;
    text-align: center;
    width: 45%;
  }
  .button4 {
    font-size: 17px;
    text-align: center;
    width: 45%;
  }
  .button6 {
    font-size: 17px;
    text-align: center;
    width: 45%;
  }
  .button7 {
    font-size: 17px;
    text-align: center;
    width: 45%;
  }
  .table2 {
    position: relative;
    left: 0%;
  }
  .table3 {
    width: 100%;
    right: 60%;
  }
  .table1 {
    position: relative;
    left: 0px;
    width: 100%;
  }
  .desc {
    position: relative;
    left: 0px;
    width: 103%;
    font-size: 14px;
    height: 600px;
  }
  .images_and_videos {
    position: relative;
    width: 100%;
    left: 0px;
  }
  .pdf {
    position: relative;
    left: 160px;
  }
  .pdfname {
    position: relative;
    left: 246px;
    font-size: 17px;
  }
  .colorposition {
    text-align: center;
  }
  .table4 {
    position: relative;
    right: -52%;
    width: 225px;
    top: -69px;
  }
  .Available-finishes {
    position: relative;
    top: 15px;
    width: 37%;
    left: 32%;
  }
  #infoimage {
    width: 100%!important;
    height: auto !important;
  }
  .info-main-container {
    background: white;
    margin-bottom: 2%;
}
}

@media (min-width: 1368px) and (max-width: 1919px) {
  .button1 {
    font-size: 14px;
    text-align: center;
    width: 50%;
  }
  .button3 {
    font-size: 14px;
    text-align: center;
    width: 50%;
  }
  .button4 {
    font-size: 14px;
    text-align: center;
    width: 50%;
  }
  .button6 {
    font-size: 14px;
    text-align: center;
    width: 60%;
  }
  .button7 {
    font-size: 14px;
    text-align: center;
    width: 60%;
  }
  .pdf {
    position: relative;
    left: 79px;
  }
  .pdfname {
    position: relative;
    left: 160px;
    font-size: 17px;
  }
  .table2 {
    position: relative;
    left: -3%;
  }
  .table3 {
    position: relative;
    width: 120%;
    right: 19%;
    top: 172px;
  }
  .colorposition {
    text-align: center;
  }
  .table1 {
    border-collapse: separate;
    border: 1px solid black;
    position: relative;
    left: 0px;
    width: 100%;
  }
  .images_and_videos {
    border-collapse: separate;
    border: 1px solid black;
    position: relative;
    left: 0px;
    width: 100%;
  }
  .desc {
    position: relative;
    left: 0%;
    border: 1px solid black;
    border-collapse: separate;
    height: 558px;
    width: 103%;
  }
  .table4 {
    position: relative;
    right: -109%;
    width: 70%;
    top: 93px;

  }
  .Available-finishes {
    position: relative;
    top: -156px;
    width: 41%;
    left: 8%;
    
  }
  #infoimage {
    
    width: 100% !important;
    height: auto !important;
  }
  .info-main-container {
    background: white;
    margin-bottom: 2%;
  }
}

@media (min-width: 1200px) and (max-width: 1367px) {
  .button1 {
    font-size: 15px;
    text-align: center;
    width: 50%;
  }
  .button6 {
    font-size: 14px;
    text-align: center;
    width: 60%;
  }
  .button7 {
    font-size: 14px;
    text-align: center;
    width: 60%;
  }
  .table2 {
    position: relative;
    left: -16px;
    margin-left: 13px;
  }
  .pdf {
    position: relative;
    left: 46px;
  }
  .pdfname {
    position: relative;
    bottom: 10px;
    left: 130px;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
  }

  .colorposition {
    text-align: center;
  }
  .table3 {
    position: relative;
    width: 142%;
    right: 243%;
    top: 25px;
  }
  .table4 {
    position: relative;
    right: 83%;
    width: 77%;
    top: -39px;
  }
  .table1 {
    border-collapse: separate;
    border: 1px solid black;
    position: relative;
    left: 4px;
    width: 98%;
  }
  .desc {
    position: relative;
    left: 2px;
    width: 102%;
    border: 1px solid black;
    height: 485px;
  }
  .images_and_videos {
    border-collapse: separate;
    border: 1px solid black;
    position: relative;
    left: 4px;
    width: 98%;
  }
  .Available-finishes {
    margin-left:104%;
    width: 43%;
  }

  #infoimage {
  
    width: 100% !important;
    height: auto !important;
  }
  .info-main-container {
    background: white;
    margin-bottom: 5%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .table2 {
    position: relative;
    left: 11px;
    height: 600px;
  }
  .table1 {
    border-collapse: separate;
    border: 1px solid black;
    position: relative;
    left: 0px;
    width: 105%;
  }

  .images_and_videos {
    position: relative;
    width: 105%;
    left: 0px;
  }
  .pdf {
    position: relative;
    left: 75px;
  }
  .pdfname {
    position: relative;
    left: 65px;
  }
  .button6 {
    font-size: 15px;
    text-align: center;
    width: 67%;
  }
  .button7 {
    font-size: 15px;
    text-align: center;
    width: 67%;
  }
  .pdf {
    position: relative;
    left: 4px;
  }
  .table4 {
    position: relative;
    right: -126%;
    
    top: -21px;
  }
  .table3 {
    position: relative;
    width: 148%;
    right: 33%;
    top: 47px;
  }
  .pdfname {
    position: relative;
    left: 86px;
    font-size: 17px;
  }
  .colorposition {
    position: relative;
    left: 80px;
  }
  .Available-finishes-heading {
    font-size: 18px;
    position: relative;
    right: -45px;
    color: black;
  }
  .desc {
    position: relative;
    left: 13px;
    border: 1px solid black;
    height: 446px;
    width: 98%;
  }
  .Available-finishes {
    width: 43%;
    margin-left: 16%;
}

  #infoimage {
    
    width: 100%!important;
    height: auto !important;
    position: relative;
    left: 2%;
  }
  .info-main-container {
    background: white;
    margin-bottom: 26%;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .button1 {
    width: 24%;
    text-align: center;
    font-size: 13px;
  }
  .button3 {
    width: 24%;
    text-align: center;
    font-size: 13px;
  }
  .button4 {
    width: 24%;
    text-align: center;
    font-size: 13px;
  }
  .button6 {
    width: 35%;
    text-align: center;
    font-size: 13px;
  }
  .button7 {
    width: 35%;
    text-align: center;
    font-size: 13px;
  }
  .images_and_videos {
    position: relative;
    width: 237%;
    margin-left: 25px;
  }
  .desc {
    font-size: 10px;
    position: relative;
    right: 108%;
    width: 207%;
    height: 550px;
  }
  .table2 {
    position: relative;
    right: 56px;
    height: 600px;
    margin-left: 4px;
    left: -23%;
    width: 119%;
  }
  .table1 {
    border: 1px solid black;
    position: relative;
    width: 237%;
    margin-left: 25px;
  }
  .table3 {
    position: relative;
    width: 65%;
    right: -18%;
    top: 82px;
  }
  .pdf {
    position: relative;
    left: 21%;
  }
  .pdfname {
    position: relative;
    bottom: 10px;
    left: 40%;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
  }
  .colorposition {
    position: relative;
    left: 70px;
  }
  .table4 {
    position: relative;
    right: -37%;
    width: 35%;
    top: -81px;
  }
  .Available-finishes {
    width: 100%;
    margin-bottom: 15%;
  }
  .info-sub-container1 {
    position: relative;
    left: 0%;
    top: 1%;
  }
  .info-sub-container2 {
    width: 100%;
    float: none;
    position: relative;
    left: 0%;
  }
  .info-sub-container3 {
    position: relative;
    float: right;
    top: 1%;
  }

  #infoimage {
    height: auto !important;
    width: 100%;
    
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main-image-height-and-width {
    width: 103%;
  }
  .button1 {
    width: 45%;
    text-align: center;
    font-size: 13px;
  }
  .button3 {
    width: 45%;
    text-align: center;
    font-size: 13px;
  }
  .button4 {
    width: 45%;
    text-align: center;
    font-size: 13px;
  }
  .button6 {
    width: 55%;
    text-align: center;
    font-size: 13px;
  }
  .button7 {
    width: 55%;
    text-align: center;
    font-size: 13px;
  }
  .images_and_videos {
    position: relative;
    width: 237%;
    margin-left: 25px;
  }
  .desc {
    font-size: 10px;
    position: relative;
    right: 108%;
    width: 207%;
    height: 520px;
  }
  .table2 {
    position: relative;
    right: 34px;
    height: 460px;
    margin-left: 4px;
    left: -20%;
    width: 119%;
  }
  .table1 {
    border: 1px solid black;
    position: relative;
    width: 237%;
    margin-left: 25px;
  }
  .table3 {
    position: relative;
    width: 72%;
    right: -10%;
    top: 88px;
  }
  .pdf {
    position: relative;
    left: 17%;
  }
  .pdfname {
    position: relative;
    bottom: 10px;
    left: 38%;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
  }
  .colorposition {
    position: relative;
    left: 70px;
  }
  .table4 {
    position: relative;
    right: -32%;
    width: 45%;
    top: -80px;
  }
  .Available-finishes {
    margin-bottom: 15%;
  }

  .info-sub-container1 {
    position: relative;
    left:0%;
    top: 1%;
  }
  .info-sub-container2 {
    width: 100%;
    float: none;
    position: relative;
    left: 0%;
  }
  .info-sub-container3 {
    position: relative;
    float: right;
    top: 1%;
  }

  #infoimage {
    margin-left: 0%;
    height: auto !important;
    width: 100%;
  }

  .size-of-image {
    width: 130px;
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .main-image-height-and-width {
    width: 106%;
  }
  .button1 {
    width: 70%;
    text-align: center;
    font-size: 13px;
  }
  .button3 {
    width: 70%;
    text-align: center;
    font-size: 13px;
  }
  .button4 {
    width: 70%;
    text-align: center;
    font-size: 13px;
  }
  .button6 {
    width: 80%;
    text-align: center;
    font-size: 13px;
  }
  .button7 {
    width: 80%;
    text-align: center;
    font-size: 13px;
  }
  .images_and_videos {
    position: relative;
    width: 237%;
    margin-left: 25px;
  }
  .desc {
    font-size: 10px !important;
    position: relative;
    right: 108%;
    width: 207%;
    height: 600px;
  }
  .table2 {
    position: relative;
    right: 26%;
    height: 347px;
    margin-left: 4px;
    width: 120%;
  }
  .table1 {
    border: 1px solid black;
    position: relative;
    width: 237%;
    margin-left: 25px;
  }
  .table3 {
    position: relative;
    width: 95%;
    right: -2%;
    top: 75px;
  }
  .pdf {
    position: relative;
    left: 0%;
  }
  .pdfname {
    position: relative;
    bottom: 10px;
    left: 40%;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
  }
  .size-of-image {
    width: 90%;
  }
  .colorposition {
    position: relative;
    left: 70px;
  }
  .table4 {
    position: relative;
    right: -22%;
    width: 70%;
    top: -77px;
  }
  .info-sub-container1 {
    position: relative;
    top: 1%;
    left: 0%;
  }
  .info-sub-container2 {
    width: 100%;
    float: none;
    position: relative;
    left: 0%
  }
  .info-sub-container3 {
    position: relative;
    float: right;
    top: 1%;
  }

  #infoimage {
    height: auto !important;
    width: 100% !important;
    
  }

  .size-of-image {
    width: 120px;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
  }
  .Available-finishes {
    /* position: relative;
    top: 50px; */
    margin-bottom: 23%;
  }
  h2{
    font-size: 18px;
  }
}
@media screen and (min-width: 220px) and (max-width: 320px) {
  .button1 {
    width: 90px;
    text-align: center;
    font-size: 13px;
  }
  .button3 {
    width: 90px;
    text-align: center;
    font-size: 13px;
  }
  .button4 {
    width: 90px;
    text-align: center;
    font-size: 13px;
  }
  .button6 {
    width: 119px;
    text-align: center;
    font-size: 13px;
  }
  .button7 {
    width: 119px;
    text-align: center;
    font-size: 13px;
  }
  .images_and_videos {
    position: relative;
    width: 286%;
    margin-left: 25px;
  }
  .desc {
    font-size: 10px;
    position: relative;
    right: 101%;
    width: 200%;
    height: 750px;
  }
  .table2 {
    position: relative;
    right: 35%;
    height: 197px;
    top: -8px;
    width: 122%;
  }
  .table1 {
    border: 1px solid black;
    position: relative;
    width: 284%;
    margin-left: 25px;

  }
  .table3 {
    position: relative;
    width: 100%;
    right: 0%;
    top: 68px;
  }
  .pdf {
    position: relative;
    left: 0%;
  }
  .pdfname {
    position: relative;
    bottom: 10px;
    left: 25%;
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
  }
  .size-of-image {
    width: 99%;
  }
  .colorposition {
    position: relative;
    left: 70px;
  }
  .table4 {
    position: relative;
    right: -10%;
    width: 89%;
    top: -83px;
  }
  .info-sub-container1 {
    position: relative;
    top: 0%;
    left: 0%;
  }
  .info-sub-container2 {
    width: 113%;
    float: none;
    position: relative;
    left: 0%;
  }
  .info-sub-container3 {
    position: relative;
    float: right;
    top: 0%;
    left: 12%;
    width: 27%;
  }

  #infoimage {
    height: auto !important;
  }
  .info-main-container {
    width: 91%;
    margin-top: 110px;
    background-color: white;
}

  .size-of-image {
    width: 110px;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
  }
  .Available-finishes {
    margin-bottom: 29%;
  }
}

/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
}

#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color: #666666;
}

#TB_window a:link {
  color: #666666;
}
#TB_window a:visited {
  color: #666666;
}
#TB_window a:hover {
  color: #000;
}
#TB_window a:active {
  color: #666666;
}
#TB_window a:focus {
  color: #666666;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.TB_overlayMacFFBGHack {
  background: url(macFFBgHack.png) repeat;
}
.TB_overlayBG {
  background-color: #000;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}

* html #TB_overlay {
  /* ie6 hack */
  position: absolute;
  height: expression(
    document.body.scrollHeight > document.body.offsetHeight ?
      document.body.scrollHeight: document.body.offsetHeight + "px"
  );
}

#TB_window {
  position: fixed;
  background: #ffffff;
  z-index: 102;
  color: #000000;
  display: none;
  border: 4px solid #525252;
  text-align: left;
  top: 50%;
  left: 50%;
}

* html #TB_window {
  /* ie6 hack */
  position: absolute;
  margin-top: expression(
    0 - parseInt(this.offsetHeight / 2) +
      (
        TBWindowMargin = document.documentElement &&
          document.documentElement.scrollTop || document.body.scrollTop
      ) + "px"
  );
}

#TB_window img#TB_Image {
  display: block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}

#TB_caption {
  height: 1px;
  padding: 7px 30px 10px 25px;
  float: left;
}

#TB_closeWindow {
  height: 25px;
  padding: 5px 5px 5px 0px;
  float: right;
}

#TB_closeAjaxWindow {
  padding: 7px 10px 5px 0;
  margin-bottom: 1px;
  text-align: right;
  float: right;
}

#TB_ajaxWindowTitle {
  float: left;
  padding: 7px 0 5px 10px;
  margin-bottom: 1px;
  display: none;
}

#TB_title {
  background-color: white;
  height: 20px;
}

#TB_ajaxContent {
  clear: both;
  padding: 2px 15px 15px 15px;
  overflow: auto;
  text-align: left;
  line-height: 1.4em;
}

#TB_ajaxContent.TB_modal {
  padding: 15px;
}

#TB_ajaxContent p {
  padding: 5px 0px 5px 0px;
}

#TB_load {
  position: fixed;
  display: none;
  height: 13px;
  width: 208px;
  z-index: 103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load {
  /* ie6 hack */
  position: absolute;
  margin-top: expression(
    0 - parseInt(this.offsetHeight / 2) +
      (
        TBWindowMargin = document.documentElement &&
          document.documentElement.scrollTop || document.body.scrollTop
      ) + "px"
  );
}

#TB_HideSelect {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border: none;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}

* html #TB_HideSelect {
  /* ie6 hack */
  position: absolute;
  height: expression(
    document.body.scrollHeight > document.body.offsetHeight ?
      document.body.scrollHeight: document.body.offsetHeight + "px"
  );
}

#TB_iframeContent {
  clear: both;
  border: none;
  margin-bottom: -1px;
  margin-top: 1px;
  _margin-bottom: 1px;
}

#TB_iframeContent {
  width: 661px !important;
}

@media screen and (max-width: 992px) {
  #TB_window {
    margin-left: -48% !important;
    width: 100% !important;
    height: 54% !important;
    margin-top: -319px !important;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  #TB_iframeContent {
    width: 100% !important;
    height: 83% !important;
  }

  .video-js-box {
    width: 100% !important;
  }
  #example_video_1 {
    width: 98% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  #TB_window {
    margin-left: -50% !important;
    margin-top: -52% !important;
    width: 100% !important;
    height: 54% !important;
    margin-top: -460px !important;
  }

  #TB_iframeContent {
    width: 100% !important;
    height: 105% !important;
  }

  .video-js-box {
    width: 100% !important;
  }
  #example_video_1 {
    width: 98% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  #TB_window {
    margin-left: -51% !important;
    width: 100% !important;
    height: 54% !important;
    margin-top: -319px !important;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  #TB_iframeContent {
    width: 100% !important;
    height: 83% !important;
  }

  .video-js-box {
    width: 100% !important;
  }
  #example_video_1 {
    width: 98% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 360px) {
  #TB_window {
    margin-left: -50%  !important;
  }
  @media screen and (max-width: 320px) {
    #TB_window {
      margin-left: -51% !important;
      margin-top: -42% !important;
  
    }
  }
}
