div.left {
    top: 23%;
    left: 72%;
}

div.right {
    top: 71%;
    left: 15%;
}

div.post {
    top: 150px;
    left: 453px;
}

div.glass_a {
    top: 72%;
    left: 54%;
}

div.glass_b {
    top: 50%;
    left: 30%;
}

div.glass_c {
    top: 55%;
    left: 25%;
}

div.glass_d {
    display: none;
}

div.glass {
    display: none;
}

div.total {
    top: 80%;
    left: 59%;
}

div.msgtishu {
    display: none;
}

div.msgtishu1 {
    display: none;
}

div.msgtishu2 {
    display: none;
}