div.glass {
    display: none;
 }
 
 div.glass_a {
     
         left: 33%;
     top: 69%;
 }
 
 div.glass_b {
     display: none;
 }
 div.glass_c {
     display: none;
 }
 div.total {
         top: 74%;
     left: 30%;
 }
 
 .main-table-pricing{height: 799px;}
 #additional_image img{max-width:100%;max-height:100%;}



