 -- For Stainless Steel

Name- Ring-EP5-4BAY-H12-A12-B12-C12-D12-LP12-RP12-FLANGE-LYT-SS 

Description- 4Bay EP11 17-1/4" Post Height, 12" face lengthA and 12" face lengthB and 12" face lengthC and 12" face lengthD  <br>with 12" Left end panel and 12" Right end panel , <br>1/4" thick square corner glass, <br>with flange cover <br> counter top total face length of 50"<br>
with Coated Black Finish


